@import "../js/datasources/all";

.result {
  background: #cffecf;
  position: relative;
  .remove-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.visualization {
  background: #cffecf;
  position: relative;
  .remove-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
